<app-header></app-header>

<div class="contenedor">

  <div class="botones-grid">

    <button class="boton-principal">
      <i class="fa-solid fa-link"></i>
      <span>Links</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-phone-volume"></i>
      <span>Números</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-link"></i>
      <span>Links</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-phone-volume"></i>
      <span>Números</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-link"></i>
      <span>Links</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-phone-volume"></i>
      <span>Números</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-link"></i>
      <span>Links</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-phone-volume"></i>
      <span>Números</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-link"></i>
      <span>Links</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-phone-volume"></i>
      <span>Números</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-link"></i>
      <span>Links</span>
    </button>

    <button class="boton-principal">
      <i class="fa-solid fa-phone-volume"></i>
      <span>Números</span>
    </button>

  </div>


  <section class="seccion-links">

    <div class="titulo-seccion">

      <div class="icono-seccion">
        <i class="fa-solid fa-link"></i>
      </div>

      <div>
        <h2>Links</h2>
        <p>Enlaces necesarios para usos diarios</p>
      </div>

    </div>


    <div class="links-grid">

      <button class="link-item">
        Kronos
      </button>

      <button class="link-item">
        Kronos
      </button>

      <button class="link-item">
        Kronos
      </button>

      <button class="link-item">
        Kronos
      </button>

      <button class="link-item">
        Kronos
      </button>

      <button class="link-item">
        Kronos
      </button>

      <button class="link-item">
        Kronos
      </button>

      <button class="link-item">
        Kronos
      </button>

    </div>

  </section>

</div>

<app-footer></app-footer>
