<app-header></app-header>

<div class="home">
    <div clas="banner">
     <img src="../../../assets/images/PayPal Latam.png" class="img">
  </div>
  

<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 220">
  <path fill="#5FCEFE" fill-opacity="1" d="M0,64L60,85.3C120,107,240,149,360,154.7C480,160,600,128,720,133.3C840,139,960,181,1080,176C1200,171,1320,117,1380,90.7L1440,64L1440,0L1380,0C1320,0,1200,0,1080,0C960,0,840,0,720,0C600,0,480,0,360,0C240,0,120,0,60,0L0,0Z"></path>

    <path fill="#F9D45F" fill-opacity="1" d="M0,96L80,90.7C160,85,320,75,480,90.7C640,107,800,149,960,154.7C1120,160,1280,128,1360,112L1440,96L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>



 <section class="cards">
    <div class="div_grande">
        <div class="boxall" routerLink="/soporte">
            <h3 class="tarjetas_titulo" routerLink="/soporte"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Soporte </div>
        </div>

        <div class="boxall" routerLink="/Centro.info"> 
            <h3 class="tarjetas_titulo" routerLink="/Centro.info"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Centro.info </div>
        </div>

        <div class="boxall" routerLink="/Actualizaciones"> 
            <h3 class="tarjetas_titulo" routerLink="/Actualizaciones"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Actualizaciones </div>
        </div>

    </div>
    
    <div class="div_grande">
        <div class="boxall" routerLink="/Paises"> 
            <h3 class="tarjetas_titulo" routerLink="/Paises"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Paises </div>
        </div>

        <div class="boxall" routerLink="/Staff"> 
            <h3 class="tarjetas_titulo" routerLink="/Staff"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> STAFF </div>
        </div>
    </div>
</section>



</div>

<app-footer></app-footer>
