<app-header></app-header>

<!-- VALIDAR CODIGO FORM CON NICO 
 <div class="formulario">
  <iframe
    src="AQUI_EL_ENLACE"
    frameborder="0"
    allowfullscreen>
  </iframe>
</div>
-->

<div class="formatos-tickets">

  <h2>Formatos Tickets</h2>

  <div class="lista-formatos">

    <div class="formato">
      <h3>Retiro/reembolso de fondos a cuenta bancaria</h3>

      <p>
        Cuenta:
        <br>
        ID de transacción:
        <br>
        Fecha de la transacción:
        <br>
        Valor:
        <br>
        Tipo de la transacción:
        <br>
        Últimos cuatro dígitos de la cuenta bancaria:
        <br>
        Motivo:
        <br>
        País:
      </p>

      <span>Información adicional</span>
    </div>

    <div class="formato">
      <h3>Retiro/reembolso de fondos a cuenta bancaria</h3>

      <p>
        Cuenta:
        <br>
        ID de transacción:
        <br>
        Fecha de la transacción:
        <br>
        Valor:
        <br>
        Tipo de la transacción:
        <br>
        Últimos cuatro dígitos de la cuenta bancaria:
        <br>
        Motivo:
        <br>
        País:
      </p>

      <span>Información adicional</span>
    </div>

    <div class="formato">
      <h3>Otro formato</h3>

      <p>
        Información correspondiente al ticket.
      </p>

      <span>Información adicional</span>
    </div>

  </div>

</div>


<p class="d-inline-flex gap-1">
  <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
    Preguntas frecuentes
  </a>
  
</p>
<div class="collapse" id="collapseExample">
  <div class="card card-body">
    Preguntas Excel -> Falta actualizar
  </div>
</div>


<app-footer></app-footer>