<section class="staff">

  <h1>Staff</h1>

  <div class="staff-grid">

    <div class="staff-card azul">
      <img src="" alt="Paula Diaz">

      <h2>Paula Diaz</h2>
      <p>OM Venmo</p>
    </div>

    <div class="staff-card amarillo">
      <img src="" alt="Paula Diaz">

      <h2>Paula Diaz</h2>
      <p>OM Venmo</p>
    </div>

    <div class="staff-card celeste">
      <img src="" alt="Paula Diaz">

      <h2>Paula Diaz</h2>
      <p>OM Venmo</p>
    </div>

    <div class="staff-card azul">
      <img src="" alt="Paula Diaz">

      <h2>Paula Diaz</h2>
      <p>OM Venmo</p>
    </div>

    <div class="staff-card amarillo">
      <img src="" alt="Paula Diaz">

      <h2>Paula Diaz</h2>
      <p>OM Venmo</p>
    </div>

    <div class="staff-card celeste">
      <img src="" alt="Paula Diaz">

      <h2>Paula Diaz</h2>
      <p>OM Venmo</p>
    </div>

  </div>

</section>