<app-header></app-header>

 <section class="cards">
    <div class="div_grande">
        <div class="boxall" routerLink="/soporte">
            <h3 class="tarjetas_titulo" routerLink="/soporte"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Soporte </div>
        </div>

        <div class="boxall" routerLink="/Centro.info"> 
            <h3 class="tarjetas_titulo" routerLink="/Centro.info"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Centro.info </div>
        </div>

        <div class="boxall" routerLink="/Actualizaciones"> 
            <h3 class="tarjetas_titulo" routerLink="/Actualizaciones"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Actualizaciones </div>
        </div>

    </div>
    
    <div class="div_grande">
        <div class="boxall" routerLink="/Paises"> 
            <h3 class="tarjetas_titulo" routerLink="/Paises"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> Paises </div>
        </div>

        <div class="boxall" routerLink="/Staff"> 
            <h3 class="tarjetas_titulo" routerLink="/Staff"></h3>
            <img src="" class="img2">
            <div class="texto-encima"> STAFF </div>
        </div>
    </div>
</section>

<app-footer></app-footer>