<app-header></app-header>

<section class="staff-section">

  <h1>Staff</h1>

  <div class="staff-grid">

    <!-- TARJETA 1 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <!-- PARTE FRONTAL -->
        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/JH.jpg" alt="Paula Díaz">
          </div>

          <h2>Jhoan Perez</h2>
          <p>Coach Disputas</p>

        </div>


        <!-- PARTE TRASERA -->
        <div class="staff-card-back">

          <h2>Jhoan Perez</h2>
          <p class="equipo">Coach Disputas</p>

          <div class="linea"></div>

          <div class="info-staff">
            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Coach
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong> Skill:</strong>
              SSP - Disputas - Limitaciones - PSS
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              Jhperez&#64;tpa.paypal.com
            </p>

            <p>
              <i class="fa-solid fa-phone"></i>
              <strong>Reacción:</strong>
              🔥
            </p>

          </div>

        </div>

      </div>

    </div>


    <!-- TARJETA 2 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Cristian.jpg" alt="Cristian Pinzon">
          </div>

          <h2>Cristian Pinzon</h2>
          <p>Coach Limitaciones</p>

        </div>

        <div class="staff-card-back">

          <h2>Cristian Pinzon</h2>
          <p class="equipo">Coach Limitaciones</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Coach
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong> Skill:</strong>
              SSP - Limitaciones
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              Cpinzon&#64;tpa.paypal.com

          
            </p>

            <p>
              <i class="fa-solid fa-phone"></i>
              <strong>Reacción:</strong>
              👍
            </p>

          </div>

        </div>

      </div>

    </div>


    <!-- TARJETA 3 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Rick.jpg" alt="Ricardo Buitrago">
          </div>

          <h2>Ricardo Buitrago</h2>
          <p>Coach Limitaciones</p>

        </div>

        <div class="staff-card-back">

          <h2>Ricardo Buitrago</h2>
          <p class="equipo">Coach Limitaciones</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Coach
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong> Skill:</strong>
              SSP - Limitaciones - Disputas
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              Rbuitrago&#64;tpa.paypal.com

          
            </p>

            <p>
              <i class="fa-solid fa-phone"></i>
              <strong>Reacción:</strong>
              ❤️
            </p>

          </div>

        </div>

      </div>

    </div>


    <!-- TARJETA 4 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Karime.jpg" alt="Karime Cisneros">
          </div>

          <h2>Karime Cisneros</h2>
          <p>Coach SSP</p>

        </div>

        <div class="staff-card-back">

          <h2>Karime Cisneros</h2>
          <p class="equipo">Coach SSP</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Coach
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong> Skill:</strong>
              SSP
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              Lucisneros&#64;tpa.paypal.com

          
            </p>

            <p>
              <i class="fa-solid fa-phone"></i>
              <strong>Reacción:</strong>
              🐉
            </p>

          </div>

        </div>

      </div>

    </div>


    <!-- TARJETA 5 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Andy.jpg" alt="Andy Rodriguez">
          </div>

          <h2>Andy Rodriguez</h2>
          <p>Coach SSP</p>

        </div>

        <div class="staff-card-back">

          <h2>Andy Rodriguez</h2>
          <p class="equipo">Coach SSP</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Coach
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong> Skill:</strong>
              SSP - Limitaciones
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              arodriguez5&#64;tpa.paypal.com
          
            </p>

            <p>
              <i class="fa-solid fa-phone"></i>
              <strong>Reacción:</strong>
              🐐
            </p>

          </div>

        </div>

      </div>

    </div>


    <!-- TARJETA 6 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Andrea.jpg" alt="Andrea Gomez">
          </div>

          <h2>Andrea Gomez</h2>
          <p>SA</p>

        </div>

        <div class="staff-card-back">

          <h2>Andrea Gomez</h2>
          <p class="equipo">SA</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Senior Agent
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong>Skill:</strong>
              SSP - Disputas - PSS
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              Andrgomez&#64;tpa.paypal.com

          
            </p>

            <p>
              <i class="fa-solid fa-icons"></i>
              <strong>Reacción:</strong>
              🤩
            </p>

          </div>

        </div>

      </div>

    </div>



    <!-- TARJETA 7 -->


    <!-- TARJETA 8 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Miguel.jpg" alt="Miguel Mahecha">
          </div>

          <h2>Miguel Mahecha</h2>
          <p>SA</p>

        </div>

        <div class="staff-card-back">

          <h2>Miguel Mahecha</h2>
          <p class="equipo">SA</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Senior Agent
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong>Skill:</strong>
              SSP - Limitaciones - Disputas - PSS
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              Jmahecha&#64;tpa.paypal.com

          
            </p>

            <p>
              <i class="fa-solid fa-icons"></i>
              <strong>Reacción:</strong>
              
            </p>

          </div>

        </div>

      </div>

    </div>

    <!-- TARJETA 9 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Darling.jpg" alt="Darling Franco">
          </div>

          <h2>Darling Franco</h2>
          <p>SA</p>

        </div>

        <div class="staff-card-back">

          <h2>Darling Franco</h2>
          <p class="equipo">SA</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Senior Agent
            </p>

            <p>
              <i class="fa-solid fa-building"></i>
              <strong>Skill:</strong>
              SSP - Disputas 
            </p>

            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              Dafranco&#64;tpa.paypal.com

          
            </p>

            <p>
              <i class="fa-solid fa-icons"></i>
              <strong>Reacción:</strong>
              🌸
            </p>

          </div>

        </div>

      </div>

    </div>

    <!-- TARJETA 9 -->
    <div class="staff-card">

      <div class="staff-card-inner">

        <div class="staff-card-front">

          <div class="foto">
            <img src="assets/Staff/Nicolas.jpg" alt="Nicolas Cifuentes">
          </div>

          <h2>Nicolas Cifuentes</h2>
          <p>PA</p>

        </div>

        <div class="staff-card-back">

          <h2>Nicolas Cifuentes</h2>
          <p class="equipo">SA</p>

          <div class="linea"></div>

          <div class="info-staff">

            <p>
              <i class="fa-solid fa-briefcase"></i>
              <strong>Cargo:</strong>
              Process Analyst
            </p>


            <p>
              <i class="fa-solid fa-envelope"></i>
              <strong>Correo:</strong>
              ncifuentes&#64;tpa.paypal.com

          
            </p>


          </div>

        </div>

      </div>

    </div>

  </div>

  

</section>

<app-footer></app-footer>