.staff {
  min-height: 100vh;
  background-color: #f1f3f8;

  padding: 40px 20px 70px;

  border-top: 4px solid #68c7ec;

  box-sizing: border-box;
}



.staff h1 {
  margin: 0 0 35px;

  text-align: center;

  color: #12358f;

  font-size: 42px;
  font-weight: 700;
}



.staff-grid {
  width: 100%;
  max-width: 780px;

  margin: 0 auto;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 28px 36px;
}



.staff-card {
  width: 225px;
  height: 265px;

  background-color: white;

  padding: 20px;

  box-sizing: border-box;

  text-align: center;

  border: 3px solid;

  transition: 0.2s ease;
}



.azul {
  border-color: #12358f;
}

.amarillo {
  border-color: #f2d467;
}

.celeste {
  border-color: #68c7ec;
}



.staff-card img {
  width: 177px;
  height: 157px;

  object-fit: cover;

  display: block;

  margin: 0 auto 10px;

  background-color: #d9d9d9;
}



.staff-card h2 {
  margin: 5px 0 2px;

  color: #12358f;

  font-size: 21px;
  font-weight: 700;
}



.staff-card p {
  margin: 0;

  color: #12358f;

  font-size: 17px;
}